h1 {
	margin-top: 0px;
	padding-top: 0px;
}
BODY {
	background: black;
	color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
THEAD { font-weight: bolder }
      A:link { color: red }
      A:visited { color: blue }
      A:active { color: fuchsia }
	  .frame { background: #999999 }
	  .box { background: #000000 }
