<ul>
<li> <a href="https://f-droid.org/repository/browse/?fdid=org.adaway">AdAway</a>  [<a href="market://details?id=org.adaway">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=com.ichi2.anki">AnkiDroid</a>  [<a href="market://details?id=com.ichi2.anki">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=de.danoeh.antennapod">AntennaPod</a>  [<a href="market://details?id=de.danoeh.antennapod">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=indrora.atomic">Atomic</a>  [<a href="market://details?id=indrora.atomic">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=com.google.zxing.client.android">Barcode Scanner</a>  [<a href="market://details?id=com.google.zxing.client.android">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=de.cryptobitch.muelli.barcodegen">Barcodegen</a>  [<a href="market://details?id=de.cryptobitch.muelli.barcodegen">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=info.guardianproject.otr.app.im">ChatSecure</a>  [<a href="market://details?id=info.guardianproject.otr.app.im">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=info.guardianproject.soundrecorder">ChatSecureVoicePlugin</a>  [<a href="market://details?id=info.guardianproject.soundrecorder">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=org.polaric.cyanogenmodchangelog">CMLog</a>  [<a href="market://details?id=org.polaric.cyanogenmodchangelog">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=eu.siacs.conversations">Conversations</a>  [<a href="market://details?id=eu.siacs.conversations">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=com.simplemobiletools.draw">Draw</a>  [<a href="market://details?id=com.simplemobiletools.draw">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=eu.mrogalski.saidit">Echo</a>  [<a href="market://details?id=eu.mrogalski.saidit">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=com.llamacorp.equate">Equate</a>  [<a href="market://details?id=com.llamacorp.equate">install</a>] 
<li> <a href="https://www.google.com/search?q=org.fdroid.fdroid">F-Droid</a>  [<a href="market://details?id=org.fdroid.fdroid">install</a>] 
<li> <a href="https://www.google.com/search?q=com.android.vending">FakeStore</a>  [<a href="market://details?id=com.android.vending">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=com.anddevw.getchromium">getChromium</a>  [<a href="market://details?id=com.anddevw.getchromium">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=com.greenaddress.greenbits_android_wallet">GreenBits</a>  [<a href="market://details?id=com.greenaddress.greenbits_android_wallet">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=org.pocketworkstation.pckeyboard">Hacker's Keyboard</a>  [<a href="market://details?id=org.pocketworkstation.pckeyboard">install</a>] 
<li> <a href="https://www.google.com/search?q=com.fsck.k9">K-9 Mail</a>  [<a href="market://details?id=com.fsck.k9">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=org.xbmc.kore">Kore</a>  [<a href="market://details?id=org.xbmc.kore">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=org.horaapps.leafpic">LeafPic</a>  [<a href="market://details?id=org.horaapps.leafpic">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=org.thoughtcrime.securesms">LibreSignal</a>  [<a href="market://details?id=org.thoughtcrime.securesms">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=de.onyxbits.listmyapps">List My Apps</a>  [<a href="market://details?id=de.onyxbits.listmyapps">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=io.github.hidroh.materialistic">Materialistic</a>  [<a href="market://details?id=io.github.hidroh.materialistic">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=com.google.android.gms">microG Services Core</a>  [<a href="market://details?id=com.google.android.gms">install</a>] 
<li> <a href="https://www.google.com/search?q=com.google.android.gsf">microG Services Framework Proxy</a>  [<a href="market://details?id=com.google.android.gsf">install</a>] 
<li> <a href="https://www.google.com/search?q=net.bitplane.android.microphone">Microphone</a>  [<a href="market://details?id=net.bitplane.android.microphone">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=com.artifex.mupdfdemo">MuPDF</a>  [<a href="market://details?id=com.artifex.mupdfdemo">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=org.schabi.newpipe">NewPipe</a>  [<a href="market://details?id=org.schabi.newpipe">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=com.nextcloud.client">Nextcloud</a>  [<a href="market://details?id=com.nextcloud.client">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=org.microg.nlp.backend.nominatim">NominatimGeocoderBackend</a>  [<a href="market://details?id=org.microg.nlp.backend.nominatim">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=com.icechen1.notable.pro">Notable Plus</a>  [<a href="market://details?id=com.icechen1.notable.pro">install</a>] 
<li> <a href="https://www.google.com/search?q=info.schnatterer.nusic">nusic</a>  [<a href="market://details?id=info.schnatterer.nusic">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=org.witness.sscphase1">ObscuraCam</a>  [<a href="market://details?id=org.witness.sscphase1">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=org.sufficientlysecure.keychain">OpenKeychain</a>  [<a href="market://details?id=org.sufficientlysecure.keychain">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=org.torproject.android">Orbot</a>  [<a href="market://details?id=org.torproject.android">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=com.eolwral.osmonitor">OS Monitor</a>  [<a href="market://details?id=com.eolwral.osmonitor">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=net.osmand.plus">OsmAnd~</a>  [<a href="market://details?id=net.osmand.plus">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=me.guillaumin.android.osmtracker">OSMTracker for Android"</a>  [<a href="market://details?id=me.guillaumin.android.osmtracker">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=com.hlidskialf.android.pomodoro">Pomodoro</a>  [<a href="market://details?id=com.hlidskialf.android.pomodoro">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=com.proch.practicehub">Practice Hub</a>  [<a href="market://details?id=com.proch.practicehub">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=com.vonglasow.michael.satstat">SatStat</a>  [<a href="market://details?id=com.vonglasow.michael.satstat">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=jonas.tool.saveForOffline">Save For Offline</a>  [<a href="market://details?id=jonas.tool.saveForOffline">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=com.MarcosDiez.shareviahttp">Share via HTTP</a>  [<a href="market://details?id=com.MarcosDiez.shareviahttp">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=cz.eutopia.snooperstopper">SnooperStopper</a>  [<a href="market://details?id=cz.eutopia.snooperstopper">install</a>] 
<li> <a href="https://www.google.com/search?q=com.noctuasoftware.stellarium">Stellarium Mobile</a>  [<a href="market://details?id=com.noctuasoftware.stellarium">install</a>] 
<li> <a href="https://www.google.com/search?q=org.ligi.survivalmanual">Survival Manual</a>  [<a href="market://details?id=org.ligi.survivalmanual">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=com.nutomic.syncthingandroid">Syncthing</a>  [<a href="market://details?id=com.nutomic.syncthingandroid">install</a>] 
<li> <a href="https://www.google.com/search?q=com.termux">Termux</a>  [<a href="market://details?id=com.termux">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=de.grobox.liberario">Transportr</a>  [<a href="market://details?id=de.grobox.liberario">install</a>] 
<li> <a href="https://www.google.com/search?q=org.hermit.tricorder">Tricorder</a>  [<a href="market://details?id=org.hermit.tricorder">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=org.billthefarmer.tuner">Tuner</a>  [<a href="market://details?id=org.billthefarmer.tuner">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=net.kourlas.voipms_sms">VoIP.ms SMS</a>  [<a href="market://details?id=net.kourlas.voipms_sms">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=be.uhasselt.privacypolice">Wi-Fi Privacy Police</a>  [<a href="market://details?id=be.uhasselt.privacypolice">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=com.vrem.wifianalyzer">WiFi Analyzer</a>  [<a href="market://details?id=com.vrem.wifianalyzer">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=de.j4velin.wifiAutoOff">WiFi Automatic</a>  [<a href="market://details?id=de.j4velin.wifiAutoOff">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=org.fitchfamily.android.wifi_backend">WiFi Location Service</a>  [<a href="market://details?id=org.fitchfamily.android.wifi_backend">install</a>] 
<li> <a href="https://f-droid.org/repository/browse/?fdid=org.wikipedia">Wikipedia</a>  [<a href="market://details?id=org.wikipedia">install</a>] 
</ul>
List made using <a href=https://play.google.com/store/apps/details?id=de.onyxbits.listmyapps>List My Apps</a>
