/*
 * note that this could also follow the GTK theme
 *
 * https://github.com/Alexays/Waybar/wiki/Styling#making-waybar-follow-the-gtk-theme
 */

@import "srcery.css";

* {
    font-family: FontAwesome, Commit mono, sans-serif;
    border: none;
    border-radius: 0;
    font-size: 10pt;
}

window#waybar {
    background-color: @background;
    border-bottom: 0px;
    color: @foreground;
    transition-property: background-color;
    transition-duration: .5s;
}
window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    border-radius: 2px;
    background: @xgray3;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
window#waybar button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: @background;
    background: @foreground;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}
#workspaces button {
    background-color: @background;
    color: @foreground;
    padding: 2px 4px;
}

#window,
#workspaces {
    margin: 0px 2px;
}

#privacy, #privacy-item {
    padding: 2px 2px;
}

label.module {
    padding: 0 4px;
    color: @foreground;
}

#workspaces button.focused {
    background-color: @black_b;
    box-shadow: inset 0 -3px @white_b;
}

#workspaces button.urgent {
    background-color: @red;
}

#mode {
    background-color: @red;
    border-bottom: 3px solid @white_b;
}

/* alternate backgrounds between modules */
/* too much trouble to maintain */
/* #tray, #clock, #privacy, #battery {
    background-color: @xgray3;
} */

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.charging, #battery.plugged {
    color: @green;
}

@keyframes blink {
    to {
        background-color: @foreground;
        color: @background;
    }
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @foreground;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @background;
}

/* TODO: missing *source* muted */
#pulseaudio.muted {
    background-color: @blue_b;
    color: @green_b;
}

#temperature.critical {
    background-color: @red;
}

#systemd-failed-units.degraded {
    background-color: @red;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#idle_inhibitor.activated {
    background-color: @red;
    color: @background;
}

#language {
    color: @foreground;
}

#privacy-item.screenshare {
    background-color: @red;
}

#privacy-item.audio-in {
    background-color: @orange;
}

#privacy-item.audio-out {
    background-color: @green;
}
#custom-dnd.active {
    color: @orange;
}
#custom-dnd.do-not-disturb {
    background-color: @yellow;
}
