@import url("ikiwiki.css");

body{ font-family: Arial, Helvetica, sans-serif; color: Black; background-color: White; font-size: 11pt; background-image: url(bg_body.gif); background-repeat: repeat-x; margin: 0;  padding: 0;  }
a{	font-family : Arial, Helvetica, sans-serif;	color : #B90000; }
a:hover{	text-decoration : underline;  color: #FF2424; }
form{	margin: 0px;}
input{ font-family: Tahoma; }
small { font-size: xx-small; }

/* HEADER
-------------------------------------------------------------------------*/
#HEADER{ display: block; height: 117px; padding:0; margin:0;  background-position: top right;  background-repeat: no-repeat;  background-image: url(bg_header.jpg);   }
#HEADER #wikiname { width: 471px; position: absolute;  top: 0;  left: 0;     height: 112px;  background-image: url(bg_logo_deep.gif); background-repeat: no-repeat; padding: 0 0 0 23px; margin: 0;  display: inline;              }
#HEADER #wikiname a{ display: block;  padding: 0 1em 0 1em;  width: 5em;   line-height: 3em; border-top: 3px solid #9E0000; background-color: #CD0000; height: 2.5em; color: White; font-family: "Times New Roman", Times, serif; font-size: 16pt; margin: 0; text-decoration: none;  display: block;  font-weight: normal;    }
#HEADER #wikiname a:hover{	background-color: #E60000;}
#HEADER #search { float: right; margin: 29px 0 0 0; }
#HEADER p.NextPage{ margin: 32px 0 4px 0; display: inline; width: 20px; float: right;    }
#HEADER p.NextPage a{ width: 20px; height: 19px; background-color: #CD0000; background-image: url(next_page.gif); background-repeat: no-repeat; display: block; color: #CD0000; }
#HEADER p.NextPage a:hover{ background-color: #E60000; background-image: url(next_page.gif); background-repeat: no-repeat; color: #E60000; }
#HEADER ul{ clear: right; list-style: none; margin: 32px 0 0 0; padding: 0; display: inline; float: right; display: block;  border-bottom: 5px solid #004278;  position: relative;  left: 20px; height: auto; /* to override ikiwiki.css */  }
#HEADER li{ float:left; margin: 0;  padding: 0 27px 0 5px; list-style: none; display: inline;  background-image: url(bg_topnav_li.gif);  background-repeat: repeat-y;    height: 25px;  line-height: 7px; color: White; font-size: 11px; }
#HEADER li a{ color: White;  text-decoration: none;  font-size: 11px;  font-family: Tahoma, Arial, Helvetica, sans-serif;         }
#HEADER li a:hover{ text-decoration: none; position: relative; top: -1px; }

/* NAV LINE
--------------------------------------------------------------------------*/
#PATH{ display: block; height:48px;  padding-left: 2em; margin:0; }
#PATH p{ padding: 0; margin: 0.5em; font-size: 16pt; color: #B90000; font-weight: bold; }
#PATH a{ text-decoration: none; color: Black; font-size: 16pt;  font-weight: normal;  }
#PATH a:hover{ text-decoration: none; position: relative; top: -1px; }
#PATH .Arrow{ color: Black; position: relative; top: -1px;  margin: 0 2px 0 2px;  }
/* make trail elements smaller */
#PATH .trail a { font-size: smaller; }
#PATH .trails { margin: 1em 1em 1em 9em; max-width: 65em; }

/* CONTENT
--------------------------------------------------------------------------*/
#comments, #CONTENT{ display: block; margin: 2em 2em 2em 13em;
                     /* main content narrower to make it more readable */
                     max-width: 60em; }
#CONTENT h1, #CONTENT h2, #CONTENT h3, #CONTENT h4, #CONTENT h5, #CONTENT h6 { margin:0.5em 0 0.5em 0; padding:0; font-family: Arial, Helvetica, sans-serif;  color: #225680; font-weight: normal; }
/* make headers more obvious and distinguishable */
#CONTENT h1{
    font-size: 18pt;
    font-weight: bold;
    border-bottom: 1px solid;
}
/* fade out border as we go down */
#CONTENT h2 {
    font-size: 16pt;
    border-bottom: 1px solid rgba(34, 86, 128, 0.75);
}
#CONTENT h3 {
    font-size: 14pt;
    border-bottom: 1px solid rgba(34, 86, 128, 0.25);
}
#CONTENT h4 {
    font-size: 12pt;
    border-bottom: 1px solid rgba(34, 86, 128, 0.10);
}
#CONTENT h5 {
    font-size: 11pt;
    border-bottom: 1px solid rgba(34, 86, 128, 0.05);
}

#CONTENT p{ text-align: justify;  margin: 0 0 10px 0;  padding: 0;  }

#SIDEBAR{ width:10em; display: table-cell; /* margin-top: 27px; */ padding: 0px 1em 0 1em;  background-image: url(bg_vline.gif);  background-repeat: repeat-y;  background-position: right;  float: left;  margin-bottom: 20px;     }
#SIDEBAR p strong, #SIDEBAR h1 { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 11px; color: White;  background-color: #004278;  text-align: center;  font-weight: bold;  padding: 3px 0 3px 0;  margin: 0 0 17px 0; display: block; }
#SIDEBAR p{ text-align: justify;  margin: 0;  font-family: Arial, Helvetica, sans-serif;  padding-bottom: 3px;     }
#SIDEBAR p.Date{ text-align: left;  color: #B90000;  font-weight: bold;  line-height: 8pt;  margin: 0 0 3px 0;       }
#SIDEBAR p.More{ text-align:right;  margin-top: 3px;  margin-bottom: 18px;   }
#SIDEBAR p.More a{font-size: 8pt; color: #B90000;  text-decoration: none;  font-weight: bold;     }
#SIDEBAR p.More a:hover{ text-decoration: underline; }

#SIDEBAR UL {
    padding-left: 1em;
    list-style-type: none;
}
#SIDEBAR P {
    padding-bottom: 0px;
}

/* unfloat the tag cloud in sidebar */
#SIDEBAR .pagecloud {
    float: none;
    width: inherit;
    padding: 0;
    margin-bottom: 1em;
}

/* FOOTER
--------------------------------------------------------------------------*/
#FOOTER{ display: block; margin: 2em 2em 2em 3em; padding: 0 0 20px 0; clear: both;  background-image: url(bg_footer.gif);  background-repeat: no-repeat;  background-position: right bottom;             }
#FOOTER ul{  list-style: none; margin: 0; padding: 5px 0 0 0;   display: inline;              }
#FOOTER li{  margin: 0;  padding: 0 0.5em; list-style: none;  display: inline; border-right: 1px solid black; }
/* warning: breaks in IE5-8, unknown for later versions: http://reference.sitepoint.com/css/pseudoclass-lastchild */
/* hint: i don't care. */
#FOOTER li:last-child { border-right: none; }
#FOOTER li a{ color: #004278; text-decoration: none; font-size: 9pt; font-family: "MS Sans Serif", Geneva, sans-serif;  margin-left: -3px;   }
#FOOTER li a:hover{ text-decoration: underline; }
#FOOTER p{ margin: 5px 0 0 0; font-family: "MS Sans Serif", Geneva, sans-serif; font-size: 9pt; }
#FOOTER a{font-family: "MS Sans Serif", Geneva, sans-serif;  font-size: 9pt; 		color: Black;  text-decoration: none; 	 }
#FOOTER a:hover{ text-decoration: underline; }

#pageinfo { background-image: url(bg_hline.gif);  background-repeat: repeat-x; border-top: none; padding-top: 1em; }
#backlinks { margin-top: 0; font-size: 9pt; }
.pagedate, .pagelicense, .pagecopyright { padding: 5px 0; font-style: normal; }



/* Put these elements side by side.  */
.pagedate, .pagecreated,
.pagecopyright,
.pagelicense
 {
     display: table-cell;
 }
.pagecopyright p,
.pagelicense p
 {
     display: inline;
 }
/* But add some spacing between them.  */
.pagedate + .pagecopyright,
.pagedate + .pagelicense,
.pagedate + .pagecreated,
.pagecopyright + .pagelicense,
.pagecopyright + .pagedate,
.pagecopyright + .pagecreated,
.pagelicense + .pagedate,
.pagelicense + .pagecreated
 {
     padding-left: 1em;
 }


.pagedate, .pagecreated,
.pagecopyright,
.pagelicense
 {
     font-size: small;
 }

/* Used in `.templates/editpage.tmpl'.  */
.copyright_assignment_notice
{
    font-size: small;
}

#CONTENT th, #CONTENT td {
    border: 1px #AAA solid;
}

#CONTENT thead tr {
    background: #F2F2F2;
}

#CONTENT table {
    border-collapse: collapse;
}

pre, pre.hl {
    background: #EEE;
    border: 1px solid #ccc;
    padding: 1px;    
}

dt { font-weight: bold; }

/* hide those things in print */
@media print {
    #HEADER p.NextPage, #SIDEBAR, #SIDEBAR ul { display: none; }
    /* readjust content */
    #CONTENT { margin: 27px; }
}

/* proper borders on images */
/* test on /smileys, /index and the login page */
IMG { margin: 0 0.5em 0 0.5em; }

/* make code blocks more obvious and wrapping properly */
CODE {
    white-space: pre-wrap;
    border: 1px solid #ddd;
    background: #eee;
    margin: 1px;
}

/* remove redundant border here */
PRE > CODE {
    border: none;
}
.comment {
    border: none;
    padding: 1em;
    margin: 1em;
    background: #f3f3f3;
}
